body {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#accID {
	font-size: 24px;
}

#accID input {
	font-size: 24px;
	width: 50px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

form {
	width: 80%;
	font-family: cursive;
	background-color: wheat;
	border-radius: 12px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

input[readonly] {
	background-color: inherit;
	border: none;
}

.back {
	background-color: indianred;
	box-shadow: 0px 0px 20px 0px indianred;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 5px 10px;
	height: auto;
	font-family: fantasy;
	font-size: 20px;
	height: auto;
}

.pass {
	height: 20px;
}

input:not([readonly]) {
	border-radius: 8px;
	border: none;
	padding: 5px 10px;
	height: 100%;
}

.update {
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	height: 50px;
	background-color: lightgreen;
	box-shadow: 0px 0px 20px 0px lightgreen;
	color: green;
	font-family: fantasy;
	font-size: 20px;
	cursor: pointer;
	height: auto;
	max-width: calc(80px + 10px);
	max-height: calc(35px + 5px);
}

.back a {
	text-decoration: none;
	color: brown;
}
